    /*
        --------------------
           Table of content
        --------------------
        1- Post Page & Design System layout Container
        2- Post page content 
  

           
             ########### Post Page & Design System visualization #############

             ALL SCREENS 
             ------------------ Header -----------------------
             ------------------ main-content ------------
             ------------------ Footer -----------------------
            

        */
    /* ----------------------------------------------------------------------------- */
    /* ---------- 1- PostPage & Design System Grid layout ---------- */
    
    .post-page-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.6fr 3.7fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: "post-page-header" "post-page-content" "post-page-footer";
        height: 100%;
    }
    
    .post-page-header {
        grid-area: post-page-header;
    }
    
    .post-page-content {
        grid-area: post-page-content;
    }
    
    .post-page-footer {
        grid-area: post-page-footer;
    }
    /* --------------------end of this section--------------------------- */
    /* ------------------ 2- Post page container ------------ */
    
    .post-page-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 0.2fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: "post-container" "related-articles";
    }
    
    .post-container {
        grid-area: post-container;
    }
    
    .related-articles {
        grid-area: related-articles;
    }
    /* --------------------end of this section--------------------------- */
    /* -- social-media accounts icons-- */
    
    .icon-twitter-with-circle {
        color: #0ace;
    }
    
    .icon-instagram-with-circle {
        color: #f09533c7;
    }
    
    .icon-linkedin-with-circle {
        color: #0072b1;
    }
    
    .post-page-content .author-social-media a {
        text-decoration: solid;
    }
    /* --------------------end of this section--------------------------- */
    
    .author-container {
        display: flex;
        justify-content: space-around;
    }
    
    .author-avatar {
        width: 50px;
        height: auto;
    }
    
    .author-avatar img {
        width: 100%;
        border-radius: 100%;
    }
    
    .author-name {
        font-size: 18px;
        font-weight: bolder;
        color: #cf4b22;
    }
    
    .author-bio {
        font-size: 12px;
        font-weight: lighter;
        color: gray;
    }
    
    .article-container {
        margin: 30px;
        border: 2px solid #5e5e5e;
    }
    
    .article-container {
        padding: 30px;
    }
    
    .article-container h1 {
        font-size: 2rem;
    }
    /* --------------------end of this section--------------------------- */
    
    .related-articles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: circle;
        margin: auto;
        gap: 10px;
        padding: 50px;
        margin-bottom: 30px;
        box-shadow: 0px 2px 10px 0px rgba(94, 94, 94, 1);
        border-radius: 10px;
    }
    
    .related-articles:hover {
        box-shadow: 1px 2px 20px 0px rgba(94, 94, 94, 1);
        transition: all;
    }
    
    .related-articles-list {
        text-transform: capitalize;
        font-weight: bolder;
        font-family: 'Patua One', cursive;
        list-style: square;
        line-height: 40px;
    }
    
    .related-articles-list a {
        color: black;
        text-decoration: none;
    }
    
    .related-articles-list a:hover {
        color: rgb(0, 81, 255);
        text-decoration: dashed;
    }
    /* --------------------end of this section--------------------------- */
    
    article p {
        padding-bottom: 5px;
    }
    
    .todayquote {
        font-weight: bolder;
        text-align: center;
        border: 1px;
        margin-top: 50px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        border-bottom: 5px outset #5E5E5E;
        border-left: 5px outset #5E5E5E;
        background-color: rgb(84, 120, 92);
        color: rgb(255, 255, 255);
    }
    
    .blockquote {
        font-style: italic;
    }
    
    .blockquote::before {
        content: '"';
        color: #d9d9d9;
        width: 100px;
        opacity: 1;
        font-size: 100px;
        line-height: .85;
    }
    
    .figure {
        width: 100%;
        border-radius: 1%;
    }
    /* --------------------end of this section--------------------------- */