/*
        --------------------
           Table of content
        --------------------
        1- Global Style
              2.1- content-Sections
                 2.1.1- Main-content(postcard)
                 2.1.2- Side-bar (newsletter)

             ########### Home Page visualization #############
             All SCREENS

             ------------------ Header -----------------------
             ------------------ Main-content -----------------
             ------------------ Side-bar ---------------------
             ------------------ Footer -----------------------

##### You can search by number or name #####

        */


/* ----------------------------------------------------------------------------- */


/*--  1- Global Style --*/

@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url("/Icons/icons.css");
@import url("Header-Footer.css");
@import url("Home-Page-Layout.css");
@import url("MediaQuery.css");
body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --blue: #216bb4;
    --green: rgb(96, 235, 53);
    --white: white;
    --black: black;
    --lighterBlack: rgb(40, 40, 40);
    --transparentBlack: rgba(0, 0, 0, 0.07);
    --gray: gray;
}

a {
    color: var(--blue);
}

a:hover {
    color: var(--black);
}


/* --------------------end of this section--------------------------- */


/*-- 2.1.1- Main-content(postcard) --*/

.postcard-container {
    display: flex;
    list-style: none;
    flex-flow: column wrap;
    padding: 10px;
    width: 100%;
    height: 100%;
    gap: 20px;
    align-items: center;
}

.card-box {
    flex: 1 1 200px;
    border: 3px solid var(--gray);
    box-shadow: 1px 1px var(--black);
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    max-width: 60%;
    min-width: 50%;
    font-family: 'Patua One', cursive;
    background-color: rgb(228, 228, 227);
    gap: 2rem;
}

.postcard-img {
    width: 100%;
    margin: 0 auto;
    height: auto;
    border: 2px solid var(--gray);
}

.post-card-info {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    margin-left: 20px;
    gap: 2rem;
    font-size: 1em;
}

.post-card-info a {
    border: 2px solid rgb(157, 157, 157);
    border-radius: 50px;
    background-color: white;
    padding: 10px;
    width: fit-content;
    text-decoration: none;
}

.post-card-info a:hover {
    text-decoration: underline;
}


/* --------------------end of this section--------------------------- */


/* -- 2.1.2 Side-bar (newsletter form)-- */

form {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    padding: 10px;
    width: 100%;
    height: 100%;
    font-family: 'Patua One', cursive;
    background-color: var(--transparentBlack);
}

.newsletter-container {
    padding: 20px;
}

input[type=text],
input[type=submit] {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--gray);
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Patua One', cursive;
    margin: 5px 0;
}

input[type=checkbox] {
    /* i wiil style this checkbox */
    width: 20px;
    border: 2px solid var(--gray);
    border-radius: 5px;
    margin: 50px 0;
    /* to make it bigger  */
    transform: scale(1.7);
}

input[type=submit] {
    background-color: var(--blue);
    color: var(--white);
    font-weight: bolder;
    font-size: 1em;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.9;
}


/* --------------------end of this section--------------------------- */